:root {
    --gray-main: #969696;
    --gray-secound: #474964;
    --red: #df4949;
    --red-light: #ee5555;
}
button{
    user-select: none;
}
* {
    box-sizing: border-box;
    font-family: Calibri;
}
#app{
   margin-bottom: 20px;
   height: 100%;
}
.container {
    width: 1600px;
    margin: 0 auto;
}
body, html{
    height: 100vh;
    overflow: hidden;
}
body {
    background-color: #e8e8e8;
    /* overflow: hidden; */
}
a,
router-link {
    -webkit-user-drag: none;
}
.btn1 {
    cursor: pointer;
    background: var(--red);
    border-radius: 20px;
    border: none;
    color: white;
    padding: 10px 15px;
    transition: 0.4s ease-in-out;
}
.btn1:hover {
    background-color: var(--red-light);
    box-shadow: 1px 1px 29px 2px rgba(247, 92, 92, 0.3);
}
.btn2{
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--gray-secound);
    font-weight: bold;
    transition: .3s ease-in-out;
}
.btn2:hover{
    color: var(--red-light);
}
.btn3{
    cursor: pointer;
    background-color: transparent;
    color: var(--gray-secound);
    border: 2px solid var(--gray-secound);
    border-radius: 20px;
    padding: 5px 15px;
    letter-spacing: 2px;
    transition: .2s ease-in-out;
}
.btn3:hover{
    background-color: var(--gray-secound);
    color: #fff;
}

.title1{
    margin: 0;
    margin-bottom: 20px;
    color: var(--gray-secound);
    letter-spacing: 1.5px;
    user-select: none;
    font-size: 24px;
    font-weight: bold;
}
.title2{
    margin: 0;
    margin-bottom: 10px;
    color: var(--gray-main);
    letter-spacing: 1.5px;
    user-select: none;

}
.control-search1 {
    outline: none;
    width: 300px;
    border: none;
    border-bottom: 1px solid var(--gray-secound);
    padding: 5px;
    color: var(--gray-main);
    transition: 0.4s ease-in-out;
}
.control-search1:focus{
    border-color: var(--gray-main);
}
.control-search1::selection{
    background-color: var(--red-light);
    color: white;
}
.control-win {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    color: var(--gray-secound);
  }
.control-input{
    outline-style: none;
    border: none;
    border-bottom: 2px solid #d4d4d4;
    padding: 5px;
    width: 100%;
    transition: border-color .3s ease-in-out, box-shadow .3s ease-in-out;
    letter-spacing: 2px;
    color: var(--gray-secound);
    font-weight: bold;
}
.control-input:focus{
    border-color: var(--red-light);
    box-shadow: -1px 6px 15px 0px rgba(247, 92, 92, 0.2);
}
.control-input:placeholder-shown{
    font-weight:normal;
}
.control-input::selection{
    background-color: var(--red-light);
    color: white;
}
.backpage{
    margin-left: 10px;
    background-color: transparent;
    border: none;
    color: var(--gray-main);
    cursor: pointer;
}
.backpage:hover{
    color: var(--gray-secound);
    font-weight: bold;
}
.message-error{
    width: 100%;
    padding: 5px;
    word-break: break-all;
    background-color: var(--red);
    color: #fff;
    border-radius: 10px;
    align-items: center;
}

@media screen and (max-width: 1600px) {
    .container {
        width: 1300px;
    }
}
@media screen and (max-width: 1300px) {
    .container {
        width: 1050px;
    }
}
@media screen and (max-width: 1100px) {
    .container {
        width: 850px;
    }
}
@media screen and (max-width: 900px) {
    .container {
        width: 700px;
    }
}
